<div class="shadow" style=" height: 80px; margin: 2% 0% 0 5%; background-color: blue; border-radius: 10px; width: 90%; display: flex; justify-content: center;">
  <h2 style="padding: 20px; color: white; letter-spacing:9px;"><b>PARAMÉTRES</b></h2>
  </div>
  <div *ngIf="showMessageA" class="btn btn-info" style="display: flex; justify-content: center; height: 50px; width: 50%;margin-left: 400px;">
    <p>Option1 activé avec succes</p>
  </div>
  <div *ngIf="showMessageB" class="btn btn-dark" style="display: flex; justify-content: center; height: 50px; width: 50%;margin-left: 400px;">
   <p>Option2 activé avec succes</p>
  </div>
<div style="width: 70%; margin-left: 15%; height: 60%;  margin-top: 5%; border: 4px solid blue; border-radius: 20px; ">
  <br>
<div class="container" style="margin-top: 5%; margin-left: 10%;">
  <div class="row">
    <div class="col-4"><button style="height: 80px; background-color: #2F416E;" type="button"  class="btn" (click)="afficherMessageA('Option 1 activée')" ><h5 class="text-white " style="font-size: 24px;">Option 1</h5>
    </button><br>
  <!-- Modal -->
  </div>
    <div class="col-6" style="background-color: #477AFD;height: 100px; border: 2px;">
   <h4 class="text-white">
    <span style="display: flex; justify-content: center; margin-top: 2%;">L’option1 activera le systéme</span>
    <span style="display: flex; justify-content: center;"> pour le remplissage 10 bouteilles</span>
  </h4>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row"> <div class="row">
    <div class="col-4" style="margin-left: 10%;"><button style="height: 80px; background-color:#2F416E;" type="button" class="btn" (click)="afficherMessageB('Option 2 activée')"><h5 (click)="option2()" class="text-white" style="font-size: 24px;">Option 2</h5>
    </button><br>
<!-- modal -->

  </div>
    <div class="col-6"  style="background-color: #477AFD; height: 100px; display: flex; justify-content: center;">
     <h4 class="text-white">
      <span style="display: flex; justify-content: center; margin-top: 2%;">L’option2 activera le systéme </span>
    <span style="display: flex; justify-content: center;"> pour le remplissage de 20 bouteilles </span>

    </h4>
  </div>
  </div>
</div>
</div>
</div>
<!-- <button class="btn btn-primary" (click)="buttonOptionB()">optionB</button> -->

