<div><p style="font-size: 24px; margin-left: 4%;">HISTORIQUES</p></div>
<div  style=" height: 60px; margin-left: 5%; background-color: #D9D9D9; border-radius: 10px; width: 90%; display: flex; justify-content: center;">
<p style="padding: 15px;">HISTORIQUES</p>
</div>

<div class="container">
  <form class="form-inline my-2 my-lg-3 row ">
    <div class="d-flex gap-1">
      <input *ngIf="show" id="search" class="form-control" type="date" name="search" placeholder="Rechercher" [(ngModel)]="filterTerm">
      <button class="btn btn-outline-primary" (click)="afficher()"><i class="bi bi-search"></i></button>
    </div>
  </form>
<!-- téléchargement pdf -->
<nav class="navbar navbar-light">
  <div class="container" style="height: 54px;display: flex;">

    <div class="text-center " (mouseenter)="showForm = true" (click)="showForm = false">
  <p style="margin-top: 25px; color: white; font-size: 10px;" >Télécharger l'historique</p>
</div> <!-- <h1 class="text-center " style="margin-left: 250px;"> Historiques</h1> -->
<form style="margin-left:350px;">

</form>
  </div> 
</nav> 
  <form >
    <!-- <form *ngIf="showForm"> -->
    <label style="color: #477AFD; background-color: #3A3A3A;" for="start-date"> Du :</label>
    <input type="date" id="start-date" [(ngModel)]="startDate" name="startDate">

    <label style="color: #477AFD; background-color: #3A3A3A;" for="end-date"> Au :</label>
    <input type="date" id="end-date" [(ngModel)]="endDate" name="endDate">

    <button style="background-color: #3A3A3A; color:#477AFD; font-family:Bold;" type="button" (click)="downloadPdf()">TELECHARGER</button>
  </form> <!-- fin téléchargement pdf -->


<table class="table table-bordered rounded-3">

 <thead style="height: 20px; background-color: #477AFD;">
   <tr>
     <th scope="col"><p class="text-white" style="text-align: center; font-size: 24px;">DATE</p></th>

     <th scope="col"><i class="bi bi-thermometer-half "></i><p class="text-white" style="text-align: center; font-size: 24px;">BOUTEILLE 100ML</p></th>
     <th scope="col"> <i class="bi bi-cloud-rain "></i> <p class="text-white" style="text-align: center; font-size: 24px;"> BOUTEILLE 200ML</p></th>
   </tr>
 </thead>
 <tbody>
   <tr>

     <tr
     *ngFor="let histo of data| filter: filterTerm | paginate: {itemsPerPage:5, currentPage:p, totalItems:totalLenght };">
     <td  align="center"><p style="font-size: 20px;"><b>{{histo.Date}}</b> </p> </td>
     <td  align="center"><p style="font-size: 20px;"><b>{{histo.total1}}</b> </p></td>
     <td  align="center"><p style="font-size: 20px;"><b>{{histo.total2}} </b> </p></td>

   </tr>

</table>
</div>

<div class="mt-8 py-5 ">
 <div class="pagination fixed-bottom justify-content-center ">
   <pagination-controls (pageChange)="p = $event"></pagination-controls>
 </div>
</div>


